FOUNDRY_PROJECT_ENDPOINT=https://<FOUNDRY-RESOURCE-NAME>.services.ai.azure.com/api/projects/<PROJECT-NAME>
AZURE_OPENAI_ENDPOINT=https://<FOUNDRY-RESOURCE-NAME>.openai.azure.com/
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-5.4-mini
AZURE_OPENAI_EVALUATION_COMPATIBLE_DEPLOYMENT_NAME=gpt-4.1-mini
FOUNDRY_MODEL_NAME=gpt-5.4-mini
AZURE_OPENAI_API_VERSION="2025-04-01-preview"